.task {
  $self: &;
  display: flex;
  position: relative;
  border-radius: 6px;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.9;
  box-shadow: 0 2px 7px 0 hsla(0, 0%, 0%, 0.06);
  min-height: 52px;
  padding: 12px 10px 12px 14px;

  &::before {
    content: '';
    display: block;
    border-radius: 50%;
    opacity: 0.302;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 3px;
    left: 3px;
  }

  &--type-dumbell,
  &--type-sport {
    &::before {
      background-color: hsl(327, 99%, 56%);
    }
  }

  &--type-location {
    &::before {
      background-color: hsl(227, 74%, 51%);
    }
  }

  &--type-other {
    &::before {
      background-color: hsl(241, 49%, 18%);
    }
  }

  &--type-wineglass {
    &::before {
      background-color: hsl(180, 100%, 50%);
    }
  }

  &--type-shopping {
    &::before {
      background-color: hsl(30, 99%, 65%);
    }
  }

  &__type {
    flex: none;
  }

  &__description {
    flex: auto;
    display: flex;
    align-items: center;
    margin-left: 15px;
    min-width: 0;
  }

  &__text {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(24, 23, 67);
    font-family: 'Lato';
    line-height: 1.2;
    text-align: left;
  }
}

.task-date {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: 15px;

  &__day {
    font-size: 12px;
    font-family: 'Lato';
    color: hsla(241, 49%, 18%, 0.8);
    line-height: 1.2;
    font-weight: 800;
    white-space: nowrap;
  }

  &__time {
    font-size: 10px;
    font-family: 'Lato';
    color: hsla(241, 49%, 18%, 0.6);
    line-height: 1.2;
    text-align: right;
    white-space: nowrap;
  }
}

.task-done {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid hsl(241, 49%, 18%);
  border-radius: 6px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 5px 0 hsla(327, 99%, 56%, 0.1);

  &__checkbox {
    position: absolute;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

   &__checked {
     width: 14px;
     height: 9px;
   }
}
