.new-task {
  height: 100%;
  box-shadow: -4px 0px 9px 0px hsla(0, 0%, 0%, 0.1);
  width: 292px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px 19px 16px 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
  }

  &__title {
    font-size: 20px;
    font-family: 'Baloo';
    color: hsl(241, 49%, 18%);
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__close {
    width: 20px;
    height: 20px;
  }
}

.new-task-form {
  &__icons {
    margin-bottom: 22px;
  }

  &__caption {
    display: block;
    font-size: 12px;
    font-family: 'Lato';
    color: hsla(241, 49%, 18%, 0.2);
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 12px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(240, 11%, 58%);
    border-radius: 15px;
  }

  &__title {
    position: relative;
    border: 1px solid transparent;
    background-color: transparent;
    background-clip: padding-box;
    box-sizing: border-box;
    z-index: 2;

    border-image-width: 0 50% 1px;
    border-image-source: linear-gradient( -180deg, hsl(327, 99%, 56%) 0%, hsl(227, 74%, 51%) 100%);
    margin-bottom: 31px;
  }

  &__description {
    margin-bottom: 32px;
  }

  &__name {
    padding: 0;
    margin: 0 0 10px;
    font-size: 12px;
    font-family: 'Lato';
    color: hsl(241, 49%, 18%);
    line-height: 1.2;
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;

    &::placeholder {
      color: hsla(241, 49%, 18%, 0.7);
    }
  }

  &__textarea {
    font-size: 12px;
    border: 1px solid hsl(241, 49%, 18%);
    border-radius: 6px;
    background-color: hsl(0, 0%, 100%);
    opacity: 0.8;
    width: 250px;
    height: 98px;
    resize: none;
    padding: 15px 13px;

    &:focus {
      outline: 1px solid hsla(241, 49%, 18%, 0.7);
    }
  }

  &__datepicker {
    width: 100%;

    ::v-deep {
      .mx-input {
        box-shadow: none;
        border-width: 0 0 1px 0;
        font-size: 12px;
        font-family: 'Lato';
        color: hsl(241, 49%, 18%);
        line-height: 1.2;
      }
    }
  }

  &__date {
    margin-bottom: 33px;
  }

  &__time {
    margin-bottom: 20px;
  }

  &__create {
    border-radius: 23px;
    background-image: linear-gradient( -152.952deg, hsl(180, 100%, 50%) 0%, hsl(227, 74%, 51%) 100%);
    box-shadow: 0px 3px 7px 0px hsla(180, 100%, 50%, 0.3);
    width: 132px;
    height: 46px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Baloo';
  }
}

.new-task-form-icon {
  $self: &;

  &__radio {
    position: absolute;

    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);

    &:checked + #{$self}__pseudo,
    &:focus + #{$self}__pseudo {
      transform: scale(1.5);
    }
  }
}

.new-task-btn-close {
    &__icon {
      color: hsl(0, 0%, 31%);
    }
}
